Presentation/Nop.Web/Web References/vn.worldsms.wcf/APISMS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Stel.WCF.APISMS.WorldSMS2._0" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Stel.WCF.APISMS.WorldSMS2._0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfListPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListPhone" nillable="true" type="tns:ListPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListPhone" nillable="true" type="tns:ArrayOfListPhone" />
  <xs:complexType name="ListPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListPhone" nillable="true" type="tns:ListPhone" />
  <xs:complexType name="ArrayOfDataSms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataSms" nillable="true" type="tns:DataSms" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataSms" nillable="true" type="tns:ArrayOfDataSms" />
  <xs:complexType name="DataSms">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSms" nillable="true" type="tns:DataSms" />
</xs:schema>