Presentation/Nop.Web/Web References/vn.worldsms.wcf/APISMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf.worldsms.vn/APISMS.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://wcf.worldsms.vn/APISMS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Stel.WCF.APISMS.WorldSMS2._0" />
  <xs:element name="PushMsg2Phone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsg2PhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushMsg2PhoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsg2PhoneDLVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idclient" type="xs:int" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsg2PhoneDLVRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushMsg2PhoneDLVRResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsgAdvDirect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsgAdvDirectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushMsgAdvDirectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendOTPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsg2ListPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Phone" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsg2ListPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushMsg2ListPhoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsg2ListPhoneDLVR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Stel.WCF.APISMS.WorldSMS2._0" minOccurs="0" name="Phone" nillable="true" type="q2:ArrayOfListPhone" />
        <xs:element minOccurs="0" name="idclient" type="xs:int" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushMsg2ListPhoneDLVRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushMsg2ListPhoneDLVRResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushBulkSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Stel.WCF.APISMS.WorldSMS2._0" minOccurs="0" name="data" nillable="true" type="q3:ArrayOfDataSms" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushBulkSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushBulkSmsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelcoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTelcoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>