Presentation/Nop.Web/Web References/vn.worldsms.wcf/APISMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="APISMS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcf.worldsms.vn/APISMS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcf.worldsms.vn/APISMS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcf.worldsms.vn/APISMS.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://wcf.worldsms.vn/APISMS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Stel.WCF.APISMS.WorldSMS2._0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAPISMS_PushMsg2Phone_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMsg2Phone" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsg2Phone_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMsg2PhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsg2PhoneDLVR_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMsg2PhoneDLVR" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsg2PhoneDLVR_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMsg2PhoneDLVRResponse" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsgAdvDirect_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMsgAdvDirect" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsgAdvDirect_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMsgAdvDirectResponse" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_SendOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:SendOTP" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_SendOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendOTPResponse" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsg2ListPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMsg2ListPhone" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsg2ListPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMsg2ListPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsg2ListPhoneDLVR_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMsg2ListPhoneDLVR" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushMsg2ListPhoneDLVR_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMsg2ListPhoneDLVRResponse" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushBulkSms_InputMessage">
    <wsdl:part name="parameters" element="tns:PushBulkSms" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_PushBulkSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushBulkSmsResponse" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_GetTelco_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTelco" />
  </wsdl:message>
  <wsdl:message name="IAPISMS_GetTelco_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTelcoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAPISMS">
    <wsdl:operation name="PushMsg2Phone">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPISMS/PushMsg2Phone" message="tns:IAPISMS_PushMsg2Phone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPISMS/PushMsg2PhoneResponse" message="tns:IAPISMS_PushMsg2Phone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushMsg2PhoneDLVR">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPISMS/PushMsg2PhoneDLVR" message="tns:IAPISMS_PushMsg2PhoneDLVR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPISMS/PushMsg2PhoneDLVRResponse" message="tns:IAPISMS_PushMsg2PhoneDLVR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushMsgAdvDirect">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPISMS/PushMsgAdvDirect" message="tns:IAPISMS_PushMsgAdvDirect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPISMS/PushMsgAdvDirectResponse" message="tns:IAPISMS_PushMsgAdvDirect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPISMS/SendOTP" message="tns:IAPISMS_SendOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPISMS/SendOTPResponse" message="tns:IAPISMS_SendOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushMsg2ListPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPISMS/PushMsg2ListPhone" message="tns:IAPISMS_PushMsg2ListPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPISMS/PushMsg2ListPhoneResponse" message="tns:IAPISMS_PushMsg2ListPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushMsg2ListPhoneDLVR">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPISMS/PushMsg2ListPhoneDLVR" message="tns:IAPISMS_PushMsg2ListPhoneDLVR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPISMS/PushMsg2ListPhoneDLVRResponse" message="tns:IAPISMS_PushMsg2ListPhoneDLVR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushBulkSms">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPISMS/PushBulkSms" message="tns:IAPISMS_PushBulkSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPISMS/PushBulkSmsResponse" message="tns:IAPISMS_PushBulkSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTelco">
      <wsdl:input wsaw:Action="http://tempuri.org/IAPISMS/GetTelco" message="tns:IAPISMS_GetTelco_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAPISMS/GetTelcoResponse" message="tns:IAPISMS_GetTelco_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAPISMS" type="tns:IAPISMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PushMsg2Phone">
      <soap:operation soapAction="http://tempuri.org/IAPISMS/PushMsg2Phone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushMsg2PhoneDLVR">
      <soap:operation soapAction="http://tempuri.org/IAPISMS/PushMsg2PhoneDLVR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushMsgAdvDirect">
      <soap:operation soapAction="http://tempuri.org/IAPISMS/PushMsgAdvDirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendOTP">
      <soap:operation soapAction="http://tempuri.org/IAPISMS/SendOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushMsg2ListPhone">
      <soap:operation soapAction="http://tempuri.org/IAPISMS/PushMsg2ListPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushMsg2ListPhoneDLVR">
      <soap:operation soapAction="http://tempuri.org/IAPISMS/PushMsg2ListPhoneDLVR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushBulkSms">
      <soap:operation soapAction="http://tempuri.org/IAPISMS/PushBulkSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTelco">
      <soap:operation soapAction="http://tempuri.org/IAPISMS/GetTelco" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APISMS">
    <wsdl:port name="BasicHttpBinding_IAPISMS" binding="tns:BasicHttpBinding_IAPISMS">
      <soap:address location="http://wcf.worldsms.vn/APISMS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>